<p>
  registration works!
</p>
<div class="container">
    <form #userInfoForm="ngForm" (ngSubmit)="onLoginSubmit(userInfoForm.value)">
      <div class="form-group">
        <label>User Name:</label>
        <input type="text" required class="form-control" #refUserName="ngModel" name="userName" placeholder="Please Enter User Nmae" [ngModel]="defaultUserName">
        <div [hidden]="refUserName.valid || refUserName.pristine" class="alert alert-danger">
          Please Enter User Name
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" required class="form-control" #refPassword="ngModel" name="password" placeholder="Please Enter Password " [ngModel]="defaultPassword">
        <div [hidden]="refPassword.valid || refPassword.pristine" class="alert alert-danger">
          Please Enter Password
        </div>
        <div class="form-group">
            <label>System Id:</label>
            <input type="text" required class="form-control" #refSystemId="ngModel" name="systemId" placeholder="Please Enter System Id" [ngModel]="defaultSystemId">
            <div [hidden]="refSystemId.valid || refSystemId.pristine" class="alert alert-danger">
              Please Enter The System Id
            </div>
          </div>
          <div class="form-group">
            <label>Email Id</label>
            <input type="email" required class="form-control" #refEmail="ngModel" name="email" placeholder="Please Enter your Email Address " [ngModel]="defaultEmail">
            <div [hidden]="refEmail.valid || refEmail.pristine" class="alert alert-danger">
              Please Enter Email Id
            </div>
            <br>
            <div class="form-group"> 
                <button type="submit" [disabled]= "!userInfoForm.valid" class="btn btn-success">Submit</button>
              </div>
              </div>
              </div>
              </form>
            </div>
              